################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/obj
/.vs/CVP.Routines.MotorArquivosComunicacao.ConsoleApp/DesignTimeBuild
/.vs/CVP.Routines.MotorArquivosComunicacao.ConsoleApp/FileContentIndex
/.vs/CVP.Routines.MotorArquivosComunicacao.ConsoleApp/v17/.futdcache.v2
/.vs/CVP.Routines.MotorArquivosComunicacao.ConsoleApp/v17/.suo
/.vs/CVP.Routines.MotorArquivosComunicacao.ConsoleApp/v17/DocumentLayout.backup.json
/.vs/CVP.Routines.MotorArquivosComunicacao.ConsoleApp/v17/DocumentLayout.json
/bin/Debug/net8.0
